/* src/components/CadastrarLivro.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #003366;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
/* Para ocupar toda a largura do container */
}

.form-group {
  width: 100%;
  max-width: 400px; /* Limitar a largura dos inputs */
  margin-bottom: 10px;
}

.form-group.full-width {
  width: 100%;
}

form input[type="text"],
form input[type="number"],
form input[type="file"],
form button,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="file"]:focus,
form button:focus,
form textarea:focus {
  outline: none;
  border-color: #003366;
}

form button {
  background-color: #003366;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

form button:hover {
  background-color: #002244;
}

.search-input {
  display: block;
  width: 100%;
  max-width: 400px; /* Limitar a largura do input de pesquisa */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Para evitar que o conteúdo ultrapasse as bordas */
  margin-bottom: 20px;
}

table th,
table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #003366;
  color: #fff;
}

table img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

table button {
  padding: 10px 20px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #003366;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

table button:hover {
  background-color: #002244;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  form {
    padding: 15px;
  }

  .form-group.full-width {
    max-width: 100%; /* Permitir que os inputs ocupem 100% da largura disponível */
  }

  table th,
  table td {
    padding: 10px;
  }

  table button {
    padding: 8px 16px;
  }

  table img {
    max-width: 80px; /* Reduzir o tamanho das imagens em telas menores */
  }
}
